<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Vehicle List</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Category Type
              </th>
              <th>
                Cargo Max
              </th>
              <th>
                Unity
              </th>
              <th>
                Axis
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let veh of vehicles; let i = index" (click)="selectLocation($event, veh)">
                <td>{{veh.vehicle_type}}</td>
                <td>{{veh.cargo_max}}</td>
                <td>{{veh.unity_measurement_weight}}</td>
                <td>{{veh.axis_total}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <br>
        <div class="col-md-12" layout-align="center center" [style]="{'background-color':'aliceblue'}">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <button type="submit" style="height:50px;width:150px;" (click)="new()" class="btn btn-primary btn-round">New Vehicle</button>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <button type="submit" style="height:50px;width:150px;" (click)="edit()" class="btn btn-primary btn-round">Edit Vehicle</button>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         </div>
      </div>
    </div>
  </div>
</div>
