<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Vehicle List</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th class="text-left">Category Vehicle</th>
              <th class="text-left">Type Vehicle</th>
              <th class="text-center">Classification Vehicle</th>
              <th class="text-center">Transport</th>
            </thead>
            <tbody>
              <tr *ngFor="let veh of vehicles; let i = index" (click)="selectLocation($event, veh)" >
                <td class="text-left">{{veh.category_vehicle}}</td>
                <td class="text-left">{{veh.type_vehicle}}</td>
                <td class="text-center">{{veh.classification_vehicle}}</td>
                <td class="text-center">{{veh.transport_type}}</td>

<!--                 <td class="text-center">{{veh.weight_max | number : '1.1-2'}}</td>
                <div *ngIf="(veh.unity_weight | json) != '{}'">
                  <td class="text-left" *ngFor="let item of veh.unity_weight | keyvalue">{{item.value}}</td>
                </div>
                <div *ngIf="(veh.unity_weight | json) == '{}'">
                  <td class="text-left">{{valueDefaultView}}</td>
                </div>
-->
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <br>
        <div class="col-md-12" layout-align="center center" [style]="{'background-color':'aliceblue'}">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <button type="submit" style="height:50px;width:150px;" (click)="new()" class="btn btn-primary btn-round">New Vehicle</button>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <button type="submit" [disabled]="isDisabled" style="height:50px;width:150px;" (click)="edit()" class="btn btn-primary btn-round">Edit Vehicle</button>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         </div>
      </div>
    </div>
  </div>
</div>
