
.card-plain{
    background: transparent;
    box-shadow: none;

    .card-header,
    .card-footer{
        margin-left: 0;
        margin-right: 0;
        background-color: transparent;
    }

    &:not(.card-subcategories).card-body{
        padding-left: 0;
        padding-right: 0;
    }

    .card-label02-header{
      position: absolute;
      width: 470px;
      height: 85px;
      left: 10px;
      top: -60px;
    }

    .card-label-header{
      position: absolute;
      width: 378px;
      height: 35px;
      left: 500px;
      top: 30px;
    }

    .card-button-header{
      position: relative;
      width: 378px;
      height: 50;
      left: 500px;
      top: 45px;
    }
}
