<div class="row">
  <div class="col-md-11">
    <div class="card card-user">
      <div class="card-body">
        <h3 class="card-title">
          {{titlePage}}
        </h3>
         <!-- <form id="add-form" (ngSubmit)="f.form.valid && saveEditLocation(f)" #f="ngForm" novalidate> -->
         <form id="add-form" #f="ngForm" novalidate>
            <div div class="col-md-6">
              <div class="card card-plain">
                <div class="card-body">

                  <div class="row">
                    <div class="col-md-9 px-1">
                      <div class="form-group">
                        <label [ngStyle]="{'color': 'black', 'font-size': '13px', 'font-weight': 'bold'}">Type Vehicle</label>
                        <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                        <select class="form-control" name="categoryvehicle_select" [(ngModel)]="vehicleOne_Obj.vehicle_type"  required>
                          <option [value]="item.type_vehicle" *ngFor="let item of vehiclesTypes">{{item.type_vehicle}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-1 col-6 px-1 text-left">
                      <label>&nbsp;</label>
                      <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="functionRedirectToVehicleType()">
                        <i class="fa fa-envelope"></i>
                      </button>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 px-1">
                      <div class="form-group">
                        <label [ngStyle]="{'color': 'black', 'font-size': '13px', 'font-weight': 'bold'}">Type Transport:</label>
                        <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                        <br>
                        <input type="radio" name="people_radio" [(ngModel)]="vehicleOne_Obj.transport_type" value="Cargo" (change)=toggleDisplay()><label>&nbsp;Cargo</label>
                        &nbsp;
                        <input type="radio" name="people_radio" [(ngModel)]="vehicleOne_Obj.transport_type" value="Passenger" (change)=toggleDisplay()><label>&nbsp;Passenger</label>
                        &nbsp;
                        <input type="radio" name="transport_radio" [(ngModel)]="vehicleOne_Obj.transport_type" value="Mixed" (change)=toggleDisplay()><label>&nbsp;Mixed (Cargo + Passenger)</label>
                      </div>
                    </div>
                  </div>

                  <div class="row" [hidden]="!isShowPeople">
                    <div class="col-md-9 px-1">
                      <div class="form-group">
                        <label [ngStyle]="{'color': 'black', 'font-size': '13px', 'font-weight': 'bold'}">People Number</label>
                        <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                        <select class="form-control" name="people_select" [(ngModel)]="vehicleOne_Obj.people">
                          <option [value]="item" *ngFor="let item of peoples">{{item}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row" [hidden]="!isShowCargo">
                    <div class="col-md-3 px-1">
                      <div class="form-group">
                        <label [ngStyle]="{'color': 'black', 'font-size': '13px', 'font-weight': 'bold'}">Cargo</label>
                        <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                        <input type="text" class="form-control" placeholder="Max" [(ngModel)]="vehicleOne_Obj.cargo_max" name="cargomaxvehicle_input" required>
                      </div>
                    </div>

                    <div class="col-md-4 px-1">
                      <div class="form-group">
                        <label [ngStyle]="{'color': 'black', 'font-size': '13px', 'font-weight': 'bold'}">Unity Weight</label>
                        <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                        <select class="form-control" name="unitymeasurement_select" [(ngModel)]="vehicleOne_Obj.unity_measurement_weight">
                          <option [value]="item" *ngFor="let item of unityWeightsL">{{item}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3 px-1">
                      <div class="form-group">
                        <label [ngStyle]="{'color': 'black', 'font-size': '13px', 'font-weight': 'bold'}">Axis</label>
                        <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                        <select class="form-control" name="axis_select" [(ngModel)]="vehicleOne_Obj.axis_total">
                          <option [value]="item" *ngFor="let item of axis">{{item}}</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <!-- Bodywork to Save -->
                  <div class="row" [hidden]="isEdit">
                      <div class="col-md-9 px-1">
                        <div class="form-group">
                          <label [ngStyle]="{'color': 'black', 'font-size': '13px', 'font-weight': 'bold'}">Bodywork</label>
                          <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                          <select class="form-control" name="bodywork_select" [(ngModel)]="vehicleOne_Obj.bodywork_vehicle" multiple>
                            <option [value]="item.bodyWork" *ngFor="let item of bodyworkes">{{item.bodyWork}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-1 col-6 px-1 text-left">
                        <label>&nbsp;</label>
                        <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="functionRedirectToBodywork()">
                          <i class="fa fa-envelope"></i>
                        </button>
                      </div>
                  </div>


                  <!-- Bodywork to UPDATE -->
                  <div class="row" [hidden]="!isEdit">
                    <div class="col-md-9 px-1">
                      <div class="form-group">
                        <label [ngStyle]="{'color': 'black', 'font-size': '13px', 'font-weight': 'bold'}">Bodywork Vehicle</label>
                        <select class="form-control" name="bodywork_select" [(ngModel)]="bodyworkEdit">
                          <option [value]="item.bodyWork" *ngFor="let item of bodyworkes">{{item.bodyWork}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-1 col-1 px-2 text-left">
                      <div class="form-group">
                        <br>
                        <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="addBodywork()">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>
                    <!-- Table Edit Change-->
                    <div class="col-md-9 px-3">
                      <div class="form-group">
                        <label>Registered *</label>
                        <table class="table table-bordered table-responsive-md table-striped text-center" [ngStyle]="{'background-color': 'mintcream', 'color': 'black', 'font-size': '13px'}">
                          <tr [ngStyle]="{'background-color': 'mintcream', 'color': 'darkcyan', 'font-size': '13px', 'font-weight': 'bold'}">
                            <th class="text-center">Bodywork</th>
                            <th class="text-center">Action</th>
                          </tr>
                          <tr *ngFor="let bodyw of vehicleOne_Obj.bodywork_vehicle; let id = index">
                            <td>
                              {{bodyw}}
                            </td>
                            <td>
                              <span class="table-remove">
                                <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="removeBodywork(bodyw)">
                                  <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                              </span>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12" layout-align="center center" [style]="{'background-color':'aliceblue'}">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="submit"  style="height:50px;width:150px;" (click)="validateSave(f)" class="btn btn-primary btn-round">Save</button>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button style="height:50px;width:150px;"  (click)="delete(f)"  [disabled]="isDisabled" class="btn btn-primary btn-round">Delete</button>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button (click)="functionRedirectToVehicleView()"  style="height:50px;width:150px;"  class="btn btn-primary btn-round">Cancel</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
