<div class="row">
  <div class="col-md-11">
    <div class="card card-user">
      <div class="card-body">
        <h3 class="card-title">
          CategoryType - Save & Edit
        </h3>
         <!-- <form id="add-form" (ngSubmit)="f.form.valid && saveEditCategoryType(f)" #f="ngForm" novalidate> -->
         <form id="add-form" #f="ngForm" novalidate>
            <div div class="col-md-6">
              <div class="card card-plain">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-9 px-1">
                      <div class="form-group">
                        <label>Name Category</label>
						            <input type="text" class="form-control" placeholder="Input Name Category" [(ngModel)]="categoryTypeOne_Obj.name_category" name="namecategory_input" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-9 px-1">
                      <div class="form-group">
                        <label>Type Transport</label>
						            <select class="form-control" name="transport_select" [(ngModel)]="categoryTypeOne_Obj.transport_type">
                          <option [value]="item.name_transport" *ngFor="let item of transportiesTypes">{{item.name_transport}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-1 col-6 px-1 text-left">
                      <label>&nbsp;</label>
                      <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="functionRedirectToTransportType()">
                        <i class="fa fa-envelope"></i>
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 px-1">
                      <div class="form-group">
                        <label>Cargo Minimum</label>
                        <input type="text" class="form-control" placeholder="Min" [(ngModel)]="categoryTypeOne_Obj.weight_min" name="cargomincategory_input" required>
                      </div>
                    </div>

                    <div class="col-md-4 px-1">
                      <div class="form-group">
                        <label>Unity Measurement</label>
                        <select class="form-control" name="unitymeasurement_select" [(ngModel)]="categoryTypeOne_Obj.unity_measurement_weight_min">
                          <option [value]="item.unitMeasurement" *ngFor="let item of unityMeasurements">{{item.unitMeasurement}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 px-1">
                      <div class="form-group">
                        <label>Cargo Maximum</label>
                        <input type="text" class="form-control" placeholder="Max" [(ngModel)]="categoryTypeOne_Obj.weight_max" name="cargomaxcategory_input" required>
                      </div>
                    </div>

                    <div class="col-md-4 px-1">
                      <div class="form-group">
                        <label>Unity Measurement</label>
                        <select class="form-control" name="unitymeasurement_select" [(ngModel)]="categoryTypeOne_Obj.unity_measurement_weight_max">
                          <option [value]="item.unitMeasurement" *ngFor="let item of unityMeasurements">{{item.unitMeasurement}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="update ml-auto mr-auto">
                    <button type="submit" ng-disabled="isDisabled"
                     (click)="saveEditCategoryType(f)" class="btn btn-primary btn-round">Save</button>
                    <button ng-disabled="isDisabled"  (click)="deleteCategoryType(f)"  [disabled]="statusDelete_btn" class="btn btn-primary btn-round">Delete</button>
                    <button (click)="newRecord(f)" [disabled]="statusNew_btn" class="btn btn-primary btn-round">New</button>
                  </div>
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Category Type List</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name Category
              </th>
              <th>
                Transport
              </th>
              <th>
                Cargo Max
              </th>
              <th>
                Unity
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let cat of categoriesTypes; let i = index" (click)="selectCategory($event, cat)">
                <td>{{cat.name_category}}</td>
                <td>{{cat.transport_type}}</td>
                <td>{{cat.weight_max}}</td>
                <td>{{cat.unity_measurement_weight_max}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
