<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Categorias de Negocio</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <th class="text-left">Nome Categoria</th>
              <th class="text-left">Categoria Transporte</th>
              <th class="text-center">Pessoas Max</th>
              <th class="text-center">Carga Max</th>
            </thead>
            <tbody>
              <tr *ngFor="let cat of categories; let i = index" (click)="selectCategory($event, cat)">
                <td class="text-left">{{cat.name_category}}</td>
                <td class="text-left">{{cat.transport.name_transport}}</td>
                <td class="text-center">{{cat.people_max}}</td>
                <td class="text-center">{{cat.weightUnityVehicle_max}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <br>
        <br>
        <div class="col-md-12" layout-align="center center" [style]="{'background-color':'aliceblue'}">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <button type="submit" style="height:50px;width:150px;" (click)="newCategory()" class="btn btn-primary btn-round">Nova Categoria</button>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <button type="submit" [disabled]="isDisabled" style="height:50px;width:150px;" (click)="editCategory()" class="btn btn-primary btn-round">Editar Categoria</button>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <button type="submit" style="height:50px;width:150px;" (click)="viewCostsBRE()" class="btn btn-primary btn-round">Visualizar BRE</button>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
      </div>
    </div>
  </div>
</div>
