<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Category - List</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Category
              </th>
              <th>
                Transport
              </th>
              <th>
                Cargo Max
              </th>
              <th>
                Unity
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let cat of categories; let i = index" (click)="selectCategory($event, cat)">
                <td>{{cat.name_category}}</td>
                <td>{{cat.transport}}</td>
                <td>{{cat.weight_max}}</td>
                <td>{{cat.unity_measurement_weight_max}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <br>
        <br>
        <div class="col-md-12" layout-align="center center" [style]="{'background-color':'aliceblue'}">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <button type="submit" style="height:50px;width:150px;" (click)="newCategory()" class="btn btn-primary btn-round">New Category</button>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <button type="submit" style="height:50px;width:150px;" (click)="editCategory()" class="btn btn-primary btn-round">Edit Category</button>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         </div>
      </div>
    </div>
  </div>
</div>
