<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">
        <h3 class="card-title">
          Regras de Negócio BRE - New
        </h3>
        <form id="add-form" #f="ngForm" novalidate>
          <div div class="col-md-15">
            <div class="card card-plain">
              <div class="card-body">


                <!-- FIELD - NAME_CATEGORY -->
                <div class="row">
                  <div class="col-md-9 px-3">
                    <div class="form-group">
                      <label [ngStyle]="{'color': 'black', 'font-size': '12px','font-weight': 'bold'}">Nome Regra Negocio BRE:</label>
                      <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                      <br>
                      <input [ngStyle]="{'color': 'red', 'font-size': '14px', 'font-weight': 'bold'}" class="form-control" [(ngModel)]="nameBRENew_Obj" name="businesscatname_input" disabled >
                    </div>
                  </div>
                </div>

                <!-- FIELD - TRANSPORT -->
                <div class="row">
                  <div class="col-md-8 px-3">
                    <div class="form-group"  [hidden]="!isFromCategory">
                      <label [ngStyle]="{'color': 'black', 'font-size': '13px', 'font-weight': 'bold'}">Categoria Transporte:</label>
                      <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                      <br>
                      <span [ngStyle]="{'color': 'black', 'font-size': '13px'}">{{nameTransport}}</span>
                    </div>
                    <div class="form-group"  [hidden]="isFromCategory">
                      <label [ngStyle]="{'color': 'black', 'font-size': '13px', 'font-weight': 'bold'}">Categoria Transporte:</label>
                      <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                      <select [(ngModel)]="transportNew_Obj"  name="transportSelect"  class="form-control" (change)="findCategoriesByTransport()">
                        <option [ngValue]="item" *ngFor="let item of transporties">{{item.name_transport}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3 px-0 text-left" [hidden]="isEdit">
                    <label>&nbsp;</label>
                    <br>
                    <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="functionRedirectToTransport()">
                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>

                <!-- FIELD - LOCATION -->
                <div class="row">
                  <div class="col-md-9 px-3">
                    <div class="form-group">
                      <label [ngStyle]="{'color': 'black', 'font-size': '12px', 'font-weight': 'bold'}">Localidade - Regras Distribuiçao</label>
                      <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                      <select class="form-control" name="location_select" [(ngModel)]="countryNew_Obj">
                        <option [ngValue]="item" *ngFor="let item of locations">{{item.countryName}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3 px-0 text-left">
                    <br>
                    <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="functionRedirectToLocation()">
                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="addCountry()">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>

                  <!-- Table Edit Change-->
                  <div class="col-md-9 px-3" [hidden]="isLocation">
                    <div class="form-group">
                      <label>Selected to Register</label>
                      <table class="table table-bordered table-responsive-md table-striped text-center" [ngStyle]="{'background-color': 'mintcream', 'color': 'black', 'font-size': '13px'}">
                        <tr [ngStyle]="{'background-color': 'mintcream', 'color': 'darkcyan', 'font-size': '13px', 'font-weight': 'bold'}">
                          <th class="text-center">Codigo</th>
                          <th class="text-center">Acronym</th>
                          <th class="text-center">Pais</th>
                          <th class="text-center">Action</th>
                        </tr>
                        <tr *ngFor="let loc of countryNew_Vet; let id = index">
                          <td>
                            {{loc.codCountry}}
                          </td>
                          <td>
                            {{loc.countryName}}
                          </td>
                          <td>
                            {{loc.countryName}}
                          </td>
                          <td>
                            <span class="table-remove">
                              <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="removeCountry(loc)">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                              </button>
                            </span>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>

                <!-- FIELD - CATEGORY -->
                <div class="row">
                  <div class="col-md-9 px-3">
                    <div class="form-group">
                      <label [ngStyle]="{'color': 'black', 'font-size': '12px', 'font-weight': 'bold'}">Category</label>
                      <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                      <select class="form-control" name="category_select"  [(ngModel)]="categoryNew_Obj" (change)="onChangeNameBRE()">
                        <option [ngValue]="item" *ngFor="let item of categories">{{item.name_category}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3 px-0 text-left">
                    <label>&nbsp;</label>
                    <br>
                    <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="functionRedirectToCategories()">
                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="addCategory()">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>

                  <!-- CARGO  Table  Edit Change-->
                  <div class="col-md-8 px-3" [hidden]="!isCargoMix">
                    <div class="form-group">
                      <label>Selected to Register</label>
                      <table class="table table-bordered table-responsive-md table-striped text-center" [ngStyle]="{'background-color': 'mintcream', 'color': 'black', 'font-size': '13px'}">
                        <tr [ngStyle]="{'background-color': 'mintcream', 'color': 'darkcyan', 'font-size': '12px', 'font-weight': 'bold'}">
                          <th class="text-center">Categoria</th>
                          <th class="text-center">Transporte</th>
                          <th class="text-center">Peso Max</th>
                          <th class="text-center">Action</th>
                        </tr>
                        <tr *ngFor="let cat of categoriesNew_Vet; let id = index">
                          <td>
                            {{cat.name_category}}
                          </td>
                          <td>
                            {{cat.transport_name}}
                          </td>
                          <td>
                            {{cat.weightUnityVehicle_max}}
                          </td>
                          <td>
                            <span class="table-remove">
                              <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="removeCountry(cat)">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                              </button>
                            </span>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>

                  <!-- CARGO  Table  Edit Change-->
                  <div class="col-md-8 px-3" [hidden]="!isPeople">
                    <div class="form-group">
                      <label>Selected to Register</label>
                      <table class="table table-bordered table-responsive-md table-striped text-center" [ngStyle]="{'background-color': 'mintcream', 'color': 'black', 'font-size': '13px'}">
                        <tr [ngStyle]="{'background-color': 'mintcream', 'color': 'darkcyan', 'font-size': '12px', 'font-weight': 'bold'}">
                          <th class="text-center">Categoria</th>
                          <th class="text-center">Transporte</th>
                          <th class="text-center">Pessoas Max</th>
                          <th class="text-center">Action</th>
                        </tr>
                        <tr *ngFor="let cat of categoriesNew_Vet; let id = index">
                          <td>
                            {{cat.name_category}}
                          </td>
                          <td>
                            {{cat.transport_name}}
                          </td>
                          <td>
                            {{cat.people_max}}
                          </td>
                          <td>
                            <span class="table-remove">
                              <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="removeCountry(cat)">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                              </button>
                            </span>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>

                  <!-- MIX  Table  Edit Change-->
                  <div class="col-md-8 px-3" [hidden]="!isMixed">
                    <div class="form-group">
                      <label>Selected to Register</label>
                      <table class="table table-bordered table-responsive-md table-striped text-center" [ngStyle]="{'background-color': 'mintcream', 'color': 'black', 'font-size': '13px'}">
                        <tr [ngStyle]="{'background-color': 'mintcream', 'color': 'darkcyan', 'font-size': '12px', 'font-weight': 'bold'}">
                          <th class="text-center">Categoria</th>
                          <th class="text-center">Transporte</th>
                          <th class="text-center">Peso Max</th>
                          <th class="text-center">Action</th>
                        </tr>
                        <tr *ngFor="let cat of categoriesNew_Vet; let id = index">
                          <td>
                            {{cat.name_category}}
                          </td>
                          <td>
                            {{cat.transport_name}}
                          </td>
                          <td>
                            {{cat.weightUnityVehicle_max}}
                          </td>
                          <td>
                            <span class="table-remove">
                              <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="removeCountry(cat)">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                              </button>
                            </span>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>

                <!-- COSTS DIRECTO % -->
                <div class="col-md-9 px-3">
                  <div class="row" style="background-color:#f0f5f5">
                    <div class="form-group">
                      <label [ngStyle]="{'color': '#2d5986', 'font-size': '13px', 'font-weight': 'bold'}">Custo Operacional Direto:</label>
                    </div>
                  </div>
                  <div class="row" style="background-color:#f0f5f5">
                    &nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                      <label [ngStyle]="{'color': 'black', 'font-size': '12px', 'font-weight': 'bold'}">Entregador %</label>
                      <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                      <input type="number" [ngStyle]="{'width':'100px'}" class="form-control" name="employeer_input" placeholder="0" [(ngModel)]="employeer_cost"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"/>
                    </div>
                    <div class="col-md-1 px-0 text-left">
                      <br>
                      &nbsp;
                      <label [ngStyle]="{'color': 'red', 'font-size': '23px', 'font-weight': 'bold'}">%</label>
                    </div>
                    &nbsp;
                    &nbsp;
                    <div class="form-group">
                      <label [ngStyle]="{'color': 'black', 'font-size': '12px', 'font-weight': 'bold'}">PackSendMe</label>
                      <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                      <input type="number" [ngStyle]="{'width':'100px'}" class="form-control" name="packsendmecosts_input" placeholder="0" [(ngModel)]="operationOwnerCost"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"/>
                    </div>
                    <div class="col-md-1 px-0 text-left">
                      <br>
                      &nbsp;
                      <label [ngStyle]="{'color': 'red', 'font-size': '23px', 'font-weight': 'bold'}">%</label>
                    </div>
                  </div>
                  <div class="row" style="background-color:#FEF5E7">
                    <label [ngStyle]="{'color': 'black', 'font-size': '11px'}">&nbsp;% - Representa o valor total do custo base da operaçao </label>
                  </div>
                </div>
                <br>

                <!-- FIELD - TARIFF PLAN-->
                <div class="col-md-9 px-3">
                  <div class="row" style="background-color:#f0f5f5">
                    <div class="form-group">
                      <label [ngStyle]="{'color': 'black', 'font-size': '13px', 'font-weight': 'bold'}">Plano Custos &nbsp;</label>(Tipo de Transporte):
                      <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                      <br>
                      &nbsp;
                      <div class="checkbox">
                        <div class="col-md-20 px-3">
                          <input id="checkbox1"  [disabled]="true" type="checkbox" name="checkbox1" [(ngModel)]="tariffPlan.weight_plan"/>
                          <label  [ngStyle]="{'color': 'black', 'font-size': '13px'}" for="checkbox1">&nbsp;Peso</label>
                          &nbsp;
                          &nbsp;
                          <input id="checkbox2" [disabled]="true" type="checkbox" name="checkbox2"  [(ngModel)]="tariffPlan.distance_plan"/>
                          <label  [ngStyle]="{'color': 'black', 'font-size': '13px'}" for="checkbox2">&nbsp;Distancia/Km</label>
                          &nbsp;
                          &nbsp;
                          <input id="checkbox6" [disabled]="true" type="checkbox" name="checkbox6"  [(ngModel)]="tariffPlan.persishable_plan"/>
                          <label  [ngStyle]="{'color': 'black', 'font-size': '13px'}" for="checkbox6">&nbsp;Perecível</label>
                          &nbsp;
                          &nbsp;
                          <input id="checkbox4" [disabled]="true" type="checkbox" name="checkbox4"  [(ngModel)]="tariffPlan.fuelconsumption_plan"/>
                          <label  [ngStyle]="{'color': 'black', 'font-size': '13px'}" for="checkbox4">&nbsp;Consumo L/Km</label>
                          &nbsp;
                          &nbsp;
                          <input id="checkbox9" [disabled]="true" type="checkbox" name="checkbox9"  [(ngModel)]="tariffPlan.tolls_plan"/>
                          <label  [ngStyle]="{'color': 'black', 'font-size': '13px'}" for="checkbox9">&nbsp;Pedágio</label>
                          &nbsp;
                          &nbsp;
                        </div>
                      </div>
                      <div class="checkbox">
                        <div class="col-md-20 px-3">
                          <input id="checkbox7" [disabled]="true" type="checkbox" name="checkbox7" [(ngModel)]="tariffPlan.fragile_plan"/>
                          <label  [ngStyle]="{'color': 'black', 'font-size': '13px'}" for="checkbox7">&nbsp;Fágil</label>
                          &nbsp;
                          &nbsp;
                          <input id="checkbox3" [disabled]="true" type="checkbox" name="checkbox3" [(ngModel)]="tariffPlan.dimension_plan"/>
                          <label  [ngStyle]="{'color': 'black', 'font-size': '13px'}" for="checkbox3">&nbsp;Dimensao/cm&nbsp;</label>
                          &nbsp;
                          <input id="checkbox8" [disabled]="true" type="checkbox" name="checkbox8" [(ngModel)]="tariffPlan.reshipping_plan"/>
                          <label  [ngStyle]="{'color': 'black', 'font-size': '13px'}" for="checkbox8">&nbsp;Reenvio</label>
                          &nbsp;
                          &nbsp;
                          &nbsp;
                          <input id="checkbox5" [disabled]="true" type="checkbox" name="checkbox5" [(ngModel)]="tariffPlan.worktime_plan"/>
                          <label  [ngStyle]="{'color': 'black', 'font-size': '13px'}" for="checkbox5">&nbsp;Horas Trabalho</label>
                          &nbsp;
                          &nbsp;
                          <input id="checkbox10" [disabled]="true" type="checkbox" name="checkbox10" [(ngModel)]="tariffPlan.antt_plan"/>
                          <label  [ngStyle]="{'color': 'black', 'font-size': '12px'}" for="checkbox10">&nbsp;ANTT Tabela</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12" layout-align="center center">
                      <button type="submit" style="height:40px;width:150px;" (click)="generateCostsTable()" class="btn btn-primary btn-round">Gerar Custos</button>
                    </div>
                  </div>
                </div>
                <br>
                <!-- RISK TABLE % -->
                <div class="col-md-9 px-3" [hidden]="!viewRiskCostsTable">
                  <div class="row" style="background-color:#f0f5f5">
                    <div class="form-group">
                      <label [ngStyle]="{'color': '#2d5986', 'font-size': '13px', 'font-weight': 'bold'}">Custo Risco Transporte:</label>
                    </div>
                  </div>
                  <div class="row" style="background-color:#f0f5f5">
                    &nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                      <label [ngStyle]="{'color': 'black', 'font-size': '12px', 'font-weight': 'bold'}">Carga Frágil %</label>
                      <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                      <input type="number" [readonly]="!tariffPlan.fragile_plan" [ngStyle]="{'width':'100px'}" class="form-control" name="height_input" placeholder="0" [(ngModel)]="fragile"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"/>
                    </div>
                    <div class="col-md-1 px-0 text-left">
                      <br>
                      &nbsp;
                      <label [ngStyle]="{'color': 'red', 'font-size': '23px', 'font-weight': 'bold'}">%</label>
                    </div>
                    &nbsp;
                    &nbsp;
                    <div class="form-group">
                      <label [ngStyle]="{'color': 'black', 'font-size': '12px', 'font-weight': 'bold'}">Carga Peresível</label>
                      <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                      <input type="number" [ngStyle]="{'width':'100px'}" [readonly]="!tariffPlan.persishable_plan" class="form-control" name="height_input" placeholder="0" [(ngModel)]="persishable"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"/>
                    </div>
                    <div class="col-md-1 px-0 text-left">
                      <br>
                      &nbsp;
                      <label [ngStyle]="{'color': 'red', 'font-size': '23px', 'font-weight': 'bold'}">%</label>
                    </div>
                  </div>
                  <div class="row" style="background-color:#FEF5E7">
                    <label [ngStyle]="{'color': 'black', 'font-size': '11px'}">&nbsp;% - Representa o valor total do custo base da operaçao </label>
                  </div>
                </div>
                <br>
                <!-- OPERATIONAL EXTRA TABLE  % -->
                <div class="col-md-9 px-3" [hidden]="!viewOperationalCostsTable">
                  <div class="row" style="background-color:#f0f5f5">
                    <div class="form-group">
                      <label [ngStyle]="{'color': '#2d5986', 'font-size': '13px', 'font-weight': 'bold'}">Custo Operacional Extra:</label>
                    </div>
                  </div>
                  <div class="row" style="background-color:#f0f5f5">
                    &nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                      <label [ngStyle]="{'color': 'black', 'font-size': '12px', 'font-weight': 'bold'}">Reenvio %</label>
                      <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                      <input type="number" [readonly]="!tariffPlan.reshipping_plan" [ngStyle]="{'width':'100px'}" class="form-control" name="reshippingcosts_input" placeholder="0" [(ngModel)]="reshipping_cost"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"/>
                    </div>
                    <div class="col-md-1 px-0 text-left">
                      <br>
                      &nbsp;
                      <label [ngStyle]="{'color': 'red', 'font-size': '23px', 'font-weight': 'bold'}">%</label>
                    </div>
                    &nbsp;
                    &nbsp;
                    <div class="form-group">
                      <label [ngStyle]="{'color': 'black', 'font-size': '12px', 'font-weight': 'bold'}">Pedágio $</label>
                      <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                      <input type="number" [ngStyle]="{'width':'100px'}" [readonly]="true" class="form-control" name="tolls_input" placeholder="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"/>
                    </div>
                    <div class="col-md-1 px-0 text-left">
                      <br>
                      &nbsp;
                      <label [ngStyle]="{'color': 'red', 'font-size': '23px', 'font-weight': 'bold'}">$</label>
                    </div>
                  </div>
                  <div class="row" style="background-color:#FEF5E7">
                    <label [ngStyle]="{'color': 'black', 'font-size': '11px'}">&nbsp;% - Representa o valor total do custo base da operaçao </label>
                  </div>
                </div>
                <br>
                <br>

                <!-- BASE COSTS OPERATION -->
                <div class="col-md-12 px-3" [hidden]="!viewBasicCostsTable">
                  <div class="row" style="background-color:#f0f5f5">
                    <div class="form-group">
                      <label [ngStyle]="{'color': '#2d5986', 'font-size': '13px', 'font-weight': 'bold'}">Custo Base: Pais/Veículo</label>
                      <br>
                      <span [ngStyle]="{'color': 'Black', 'font-size': '11px', 'font-weight': 'bold'}">Cotaçao:</span>
                      <span [ngStyle]="{'color': 'red', 'font-size': '11px', 'font-weight': 'bold'}"> {{symbol_distance}}{{vlr_dollar_exchange}}</span>
                    </div>
                    <br>
                  </div>

                  <div class="row" style="background-color:#f0f5f5">
                    <div class="col-md-11 px-2">
                      <p-table tableStyleClass="prime-table" [value]="costsBRE_DS" dataKey="vehicle" editMode="row" [autoLayout]="true">
                        <ng-template pTemplate="header">
                          <tr>
                              <th rowspan="2" [style]="{'text-align':'center','font-size':'13px','font-weight':'bold'}">Vehicle</th>
                              <ng-container *ngIf="tariffPlan.weight_plan == true">
                                <th rowspan="2" [style]="{'text-align':'center','font-size':'13px','font-weight':'bold'}">Peso/Gr</th>
                              </ng-container>
                              <ng-container *ngIf="tariffPlan.distance_plan == true">
                                <th rowspan="2" [style]="{'text-align':'center','font-size':'13px','font-weight':'bold'}">Distancia/Km</th>
                              </ng-container>
                              <ng-container *ngIf="tariffPlan.worktime_plan == true">
                                <th rowspan="2" [style]="{'text-align':'center','font-size':'13px','font-weight':'bold'}">Hora Trabalho/Min</th>
                              </ng-container>
                              <ng-container *ngIf="tariffPlan.fuelconsumption_plan == true">
                                <th rowspan="2" [style]="{'text-align':'center','font-size':'13px','font-weight':'bold'}">Consumo Km/L</th>
                              </ng-container>
                              <ng-container *ngIf="tariffPlan.dimension_plan == true">
                                <th colspan="3" [style]="{'text-align':'center','font-size':'13px','font-weight':'bold'}">Dimensao</th>
                              </ng-container>
                              <th rowspan="2">Action</th>
                          </tr>
                          <tr>
                            <ng-container *ngIf="tariffPlan.dimension_plan == true">
                              <th [style]="{'text-align':'center','font-size':'13px','font-weight':'bold'}">Comprimento</th>
                            </ng-container>
                            <ng-container *ngIf="tariffPlan.dimension_plan == true">
                              <th [style]="{'text-align':'center','font-size':'13px','font-weight':'bold'}">Largura</th>
                            </ng-container>
                            <ng-container *ngIf="tariffPlan.dimension_plan == true">
                              <th [style]="{'text-align':'center','font-size':'13px','font-weight':'bold'}">Altura</th>
                            </ng-container>
                          </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                          <ng-container *ngIf="rowData.countryNew == true">
                            <tr style="background-color:rgba(247, 248, 155, 0.51);">
                              <td [style]="{'text-align':'center','font-size':'14px','font-weight':'bold'}">
                                &nbsp;&nbsp;&nbsp;{{rowData.countryName}}
                              </td>
                            </tr>
                          </ng-container>

                          <tr [pEditableRow]="rowData">
                            <td>
                              {{rowData.vehicle}}
                            </td>
                            <ng-container *ngIf="tariffPlan.weight_plan == true">
                              <td [style]="{'text-align':'center','font-size':'14px'}">
                                <p-cellEditor>
                                  <ng-template pTemplate="input">
                                    <input pInputText [ngStyle]="{'width':'80px'}" size="10" name="weight_input"  type="text" [(ngModel)]="rowData.weight_cost" (keypress)="validateNumber($event)">
                                  </ng-template>
                                  <ng-template pTemplate="output">
                                    {{symbol_distance}} {{rowData.weight_cost | number:'1.2-3' }}
                                  </ng-template>
                                </p-cellEditor>
                              </td>
                            </ng-container>

                            <ng-container *ngIf="tariffPlan.distance_plan == true">
                              <td [style]="{'text-align':'center','font-size':'14px'}">
                                <p-cellEditor>
                                  <ng-template pTemplate="input">
                                    <input pInputText [ngStyle]="{'width':'80px'}" size="10" name="distance_input" type="text" [(ngModel)]="rowData.distance_cost" (keypress)="validateNumber($event)">
                                  </ng-template>
                                  <ng-template pTemplate="output">
                                    {{symbol_distance}} {{rowData.distance_cost | number:'1.2-3' }}
                                  </ng-template>
                                </p-cellEditor>
                              </td>
                            </ng-container>

                            <ng-container *ngIf="tariffPlan.worktime_plan == true">
                              <td [style]="{'text-align':'center','font-size':'14px'}">
                                <p-cellEditor>
                                  <ng-template pTemplate="input">
                                    <input pInputText [ngStyle]="{'width':'80px'}"  size="10" name="worktime_input" type="text" [(ngModel)]="rowData.worktime_cost" (keypress)="validateNumber($event)">
                                  </ng-template>
                                  <ng-template pTemplate="output">
                                    {{symbol_distance}} {{rowData.worktime_cost | number:'1.2-3' }}
                                  </ng-template>
                                </p-cellEditor>
                              </td>
                            </ng-container>

                            <ng-container *ngIf="tariffPlan.fuelconsumption_plan == true">
                              <td [style]="{'text-align':'center','font-size':'14px'}">
                                <p-cellEditor>
                                  <ng-template pTemplate="input">
                                    {{rowData.average_consumption_cost | number:'1.1' }} {{symbol_consumption}}
                                  </ng-template>
                                  <ng-template pTemplate="output">
                                    {{rowData.average_consumption_cost | number:'1.1' }} {{symbol_consumption}}
                                  </ng-template>
                                </p-cellEditor>
                              </td>
                            </ng-container>

                            <ng-container *ngIf="tariffPlan.dimension_plan == true">
                              <td [style]="{'text-align':'center','font-size':'14px'}">
                                <p-cellEditor>
                                  <ng-template pTemplate="input">
                                    <input pInputText [ngStyle]="{'width':'80px'}" size="10" name="heightDimension_input" type="text" [(ngModel)]="rowData.heightDimension_cost" (keypress)="validateNumber($event)">
                                  </ng-template>
                                  <ng-template pTemplate="output">
                                    {{symbol_distance}} {{rowData.heightDimension_cost | number:'1.2-3' }}
                                  </ng-template>
                                </p-cellEditor>
                              </td>
                              <td [style]="{'text-align':'center','font-size':'14px'}">
                                <p-cellEditor>
                                  <ng-template pTemplate="input">
                                    <input pInputText [ngStyle]="{'width':'80px'}" size="10" name="widthDimension_input"  type="text" [(ngModel)]="rowData.widthDimension_cost" (keypress)="validateNumber($event)">
                                  </ng-template>
                                  <ng-template pTemplate="output">
                                    {{symbol_distance}} {{rowData.widthDimension_cost | number:'1.2-3' }}
                                  </ng-template>
                                </p-cellEditor>
                              </td>
                              <td [style]="{'text-align':'center','font-size':'14px'}">
                                <p-cellEditor>
                                  <ng-template pTemplate="input">
                                    <input pInputText [ngStyle]="{'width':'80px'}" size="10" name="lengthDimension_input" type="text" [(ngModel)]="rowData.lengthDimension_cost" (keypress)="validateNumber($event)">
                                  </ng-template>
                                  <ng-template pTemplate="output">
                                    {{symbol_distance}} {{rowData.lengthDimension_cost | number:'1.2-3' }}
                                  </ng-template>
                                </p-cellEditor>
                              </td>
                              </ng-container>

                              <td style="text-align:center">
                                <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                                class="p-button-info" (click)="onRowEditInit(rowData)" style="height:30px;width:30px;"></button>
                                <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                                class="p-button-success" style="height:30px;width:30px;" (click)="onRowEditSave(rowData, ri)"></button>
                                &nbsp;
                                <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                                class="p-button-danger" style="height:30px;width:30px;" (click)="onRowEditCancel(rowData, ri)"></button>
                              </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                    <br>
                    <br>
                    <span [ngStyle]="{'color': 'black', 'font-size': '12px', 'font-weight': 'bold'}">&nbsp;</span>
                    <br>
                    <span [ngStyle]="{'color': 'black', 'font-size': '12px', 'font-weight': 'bold'}">&nbsp;** US$ moeda base utilizada para informar os custos "</span>
                    <br>
                  </div>
                </div>

                <br>
                <br>
                <div class="col-md-12" layout-align="center center" [style]="{'background-color':'aliceblue'}">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="submit" style="height:50px;width:150px;" [disabled]="statusEditNew_btn" (click)="prepareSave(f)" class="btn btn-primary btn-round">Save</button>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button (click)="newRecord(f)" style="height:50px;width:150px;" [disabled]="statusEditNew_btn" class="btn btn-primary btn-round">New</button>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="submit" style="height:50px;width:150px;" (click)="functionRedirectToRoadwayBREView(f)" class="btn btn-primary btn-round">Cancelar</button>
                </div>
                <br>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
