<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">
        <h3 class="card-title">
          Category Base
        </h3>
          <form id="add-form" #f="ngForm" novalidate>
            <div div class="col-md-15">
              <div class="card card-plain">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-9 px-1">
                      <div class="form-group">
                        <label>Type Category</label>
                        <select class="form-control" name="category_select"  [(ngModel)]="categoryOne_Obj.categoryType">
                          <option [ngValue]="item" *ngFor="let item of categoriesTypes">{{item.name_category}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-1 col-6 px-1 text-left">
                      <label>&nbsp;</label>
                      <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="functionRedirectToCategoryType()">
                        <i class="fa fa-envelope"></i>
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-9 px-1">
                      <div class="form-group">
                        <label>Rule Distribution</label>
						            <select class="form-control" name="location_select" [(ngModel)]="categoryOne_Obj.locations" multiple>
                          <option [ngValue]="item" *ngFor="let item of locations">{{item.countryName}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-1 col-6 px-1 text-left">
                      <label>&nbsp;</label>
                      <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="functionRedirectToLocation()">
                        <i class="fa fa-envelope"></i>
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-10 px-1">
                      <div class="form-group">
                        <label>Vehicle</label>
						            <select class="form-control" name="vehicle_select" [(ngModel)]="categoryOne_Obj.vehicles" multiple>
                          <option [ngValue]="item" *ngFor="let item of vehicles">{{item.vehicle_type}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-1 col-6 px-1 text-left">
                      <label>&nbsp;</label>
                      <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="functionRedirectToVehicle()">
                        <i class="fa fa-envelope"></i>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="update ml-auto mr-auto">
                      <button type="submit" ng-disabled="isDisabled" (click)="generateCostsTable(f)" class="btn btn-primary btn-round">Generar Costs</button>
                      <button type="submit" [disabled]="statusEditNew_btn" (click)="saveEditCategory(f)" class="btn btn-primary btn-round">Save</button>
                      <button (click)="newRecord(f)" [disabled]="statusEditNew_btn" class="btn btn-primary btn-round">New</button>
                    </div>
                  </div>
                </div>
                  </div>
                </div>
          </form>
      </div>
    </div>
  </div>
</div>

<div class="row" [hidden]="!isShow">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Costs Category</h4>
      </div>

      <p-table [value]="categoryCostsDS" dataKey="vehicle" editMode="row" [autoLayout]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>Vehicle</th>
                <th>Weight</th>
                <th>Distance/KM</th>
                <th>Worktime</th>
                <th>Consumption/L</th>
                <th>Action</th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">

          <ng-container *ngIf="rowData.countryNew == true">
            <tr style="background-color:rgba(247, 248, 155, 0.51);">
              <p-column [style]="{'text-align':'center','font-size':'14px','font-weight':'bold'}">
                &nbsp;&nbsp;&nbsp;{{rowData.countryName}}
              </p-column>
            </tr>
          </ng-container>

          <tr [pEditableRow]="rowData">
                <td>
                  {{rowData.vehicle}}
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText size="10"  type="text" [(ngModel)]="rowData.weight_cost" (keypress)="validateNumber($event)">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.weight_cost}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <input pInputText size="10" type="text" [(ngModel)]="rowData.distance_cost" (keypress)="validateNumber($event)">
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{rowData.distance_cost}}
                      </ng-template>
                  </p-cellEditor>
              </td>

              <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText  size="10" type="text" [(ngModel)]="rowData.worktime_cost" (keypress)="validateNumber($event)">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.worktime_cost}}
                    </ng-template>
                </p-cellEditor>
            </td>

               <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText  size="10" type="text" [(ngModel)]="rowData.average_consumption_cost" (keypress)="validateNumber($event)">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.average_consumption_cost}}
                    </ng-template>
                </p-cellEditor>
            </td>
                <td style="text-align:center">
                    <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                        class="p-button-info" (click)="onRowEditInit(rowData)" style="height:30px;width:30px;"></button>
                    <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                        class="p-button-success" style="height:30px;width:30px;" (click)="onRowEditSave(rowData)"></button>
                        &nbsp;
                    <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                        class="p-button-danger" style="height:30px;width:30px;" (click)="onRowEditCancel(rowData, ri)"></button>
                </td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
