<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Transport Type List</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Transport
              </th>
              <th>
                Identifier
              </th>
              <th>
                Initials
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let transp of transporties; let i = index" (click)="selectTransport($event, transp)">
                <td>{{transp.name_transport}}</td>
                <td>{{transp.identifier}}</td>
                <td>{{transp.initials}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <br>
        <div class="col-md-12" layout-align="center center" [style]="{'background-color':'aliceblue'}">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="submit" style="height:50px;width:150px;" (click)="new()" class="btn btn-primary btn-round">New Transport</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="submit" style="height:50px;width:150px;" (click)="edit()" class="btn btn-primary btn-round">Edit Transport</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
