<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">
        <h3 class="card-title">
          Update Category
        </h3>
        <form id="add-form" #f="ngForm" novalidate>
          <div div class="col-md-15">
            <div class="card card-plain">
              <div class="card-body">

                <!-- ID CATEGORY -->
                <div class="row">
                  <div class="col-md-9 px-3">
                    <div class="form-group">
                      <label [ngStyle]="{'color': 'black', 'font-size': '13px', 'font-weight': 'bold'}">ID Category</label>
                      <label [ngStyle]="{'color': 'black', 'font-size': '14px'}">&nbsp; {{categoryOne_Obj.id}}</label>
                    </div>
                  </div>
                </div>

                <!-- ROW FIELD -  CATEGORY TYPE -->
                <div class="row">
                  <div class="col-md-9 px-3">
                    <div class="form-group">
                      <label [ngStyle]="{'color': 'black', 'font-size': '13px', 'font-weight': 'bold'}">Type Category</label>
                      <select class="form-control" name="category_select"  [(ngModel)]="categoryEdit_Obj.categoryType">
                        <option [ngValue]="item" *ngFor="let item of categoriesTypes">{{item.name_category}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-1 col-1 px-2 text-left">
                    <div class="form-group">
                      <br>
                      <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="addCategory()">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                  <!-- Table Edit Change-->
                  <div class="col-md-9 px-3">
                    <div class="form-group">
                      <label>Registered *</label>
                      <table class="table table-bordered table-responsive-md table-striped text-center" [ngStyle]="{'background-color': 'mintcream', 'color': 'black', 'font-size': '13px'}">
                        <tr [ngStyle]="{'background-color': 'mintcream', 'color': 'darkcyan', 'font-size': '13px', 'font-weight': 'bold'}">
                          <th class="text-center">Category</th>
                          <th class="text-center">Transport</th>
                          <th class="text-center">Cargo Min</th>
                          <th class="text-center">Cargo Max</th>
                        </tr>
                        <tr>
                          <td>
                            {{categoryOne_Obj.categoryType.name_category}}
                          </td>
                          <td>
                           {{categoryOne_Obj.categoryType.transport_type}}
                          </td>
                          <td>
                            {{categoryOne_Obj.categoryType.weight_max}}
                          </td>
                          <td>
                            {{categoryOne_Obj.categoryType.unity_measurement_weight_max}}
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>

                <!-- ROW FIELD - COUNTRY RULE LOCATION -->
                <div class="row">
                  <div class="col-md-9 px-3">
                    <div class="form-group">
                      <label [ngStyle]="{'color': 'black', 'font-size': '13px', 'font-weight': 'bold'}">Country - Rule Distribution</label>
                      <select class="form-control" name="location_select" [(ngModel)]="countryEdit_Obj">
                        <option [ngValue]="item" *ngFor="let item of locations">{{item.countryName}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-1 col-1 px-2 text-left">
                    <div class="form-group">
                      <br>
                      <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="addCountry()" (change)="onChangeCountry(f)">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                  <!-- Table Edit Change-->
                  <div class="col-md-9 px-3">
                    <div class="form-group">
                      <label>Registered *</label>
                      <table class="table table-bordered table-responsive-md table-striped text-center" [ngStyle]="{'background-color': 'mintcream', 'color': 'black', 'font-size': '13px'}">
                        <tr [ngStyle]="{'background-color': 'mintcream', 'color': 'darkcyan', 'font-size': '13px', 'font-weight': 'bold'}">
                          <th class="text-center">CodCountry</th>
                          <th class="text-center">Country Acronym</th>
                          <th class="text-center">Country Name</th>
                          <th class="text-center">Action</th>
                        </tr>
                        <tr *ngFor="let loc of categoryOne_Obj.locations; let id = index">
                          <td>
                            {{loc.codCountry}}
                          </td>
                          <td>
                            {{loc.countryName}}
                          </td>
                          <td>
                            {{loc.countryName}}
                          </td>
                          <td>
                            <span class="table-remove">
                              <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="removeCountry(loc)" (change)="onChangeCountry(f)">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                              </button>
                            </span>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>

                <!-- ROW FIELD -  VEHICLE -->
                <div class="row">
                  <div class="col-md-9 px-3">
                    <div class="form-group">
                      <label [ngStyle]="{'color': 'black', 'font-size': '13px', 'font-weight': 'bold'}">Vehicle</label>
						          <select class="form-control" name="vehicle_select" [(ngModel)]="vehicleEdit_Obj">
                        <option [ngValue]="item" *ngFor="let item of vehicles">{{item.vehicle_type}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-1 col-1 px-2 text-left">
                    <div class="form-group">
                      <br>
                      <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="addVehicle()">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                  <!-- Table Edit Change-->
                  <div class="col-md-9 px-3">
                    <div class="form-group">
                      <label>Registered *</label>
                      <table class="table table-bordered table-responsive-md table-striped text-center" [ngStyle]="{'background-color': 'mintcream', 'color': 'black', 'font-size': '13px'}">
                        <tr [ngStyle]="{'background-color': 'mintcream', 'color': 'darkcyan', 'font-size': '13px', 'font-weight': 'bold'}">
                          <th class="text-center">Vehicle Type</th>
                          <th class="text-center">Cargo Max</th>
                          <th class="text-center">Axis</th>
                          <th class="text-center">Action</th>
                        </tr>
                        <tr *ngFor="let vehic of categoryOne_Obj.vehicles; let id = index">
                          <td>
                            {{vehic.vehicle_type}}
                          </td>
                          <td>
                            {{vehic.cargo_max}}
                          </td>
                          <td>
                            {{vehic.axis_total}}
                          </td>
                          <td>
                            <span class="table-remove">
                              <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="removeVehicle(vehic)">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                              </button>
                            </span>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>

        <div class="row">
          <div class="col-md-9 px-3">
            <div class="form-group">
              <label [ngStyle]="{'color': 'black', 'font-size': '14px', 'font-weight': 'bold'}">Costs by Country</label>
              <select class="form-control" placeholder="Select Country" name="costscountry_select" [(ngModel)]="countrySelCosts">
                <option class="dropdown-item" disabled selected value="undefined">Select an Option</option>
                <option [ngValue]="item.countryName" *ngFor="let item of categoryOne_Obj.locations">{{item.countryName}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-1 col-1 px-2 text-left">
            <br>
            <button type="submit" class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="viewCountryCosts(f)">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <!-- TABLE COSTS BY COUNTRY -->
        <div class="row">
          <div class="col-md-9 px-3">
            <p-table [value]="categoryCostsIIDS"  dataKey="vehicle" editMode="row" [autoLayout]="true" >
              <ng-template pTemplate="header">
                <tr>
                  <th [style]="{'background-color':'cadetblue','color':'whitesmoke', 'font-size': '14px'}">Vehicle</th>
                  <th [style]="{'background-color':'cadetblue','color':'whitesmoke','font-size': '14px'}">Weight</th>
                  <th [style]="{'background-color':'cadetblue','color':'whitesmoke','font-size': '14px'}">Distance/KM</th>
                  <th [style]="{'background-color':'cadetblue','color':'whitesmoke','font-size': '14px'}">Worktime</th>
                  <th [style]="{'background-color':'cadetblue','color':'whitesmoke','font-size': '14px'}">Consumption/L</th>
                  <th [style]="{'background-color':'cadetblue','color':'whitesmoke','font-size': '14px'}">Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="rowData">
                  <td [style]="{'background-color':'honeydew','font-size': '13px'}">
                    {{rowData.vehicle}}
                  </td>
                  <td [style]="{'font-size': '13px'}">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input pInputText size="3" type="text" name="weightcost_input" [(ngModel)]="rowData.weight_cost" (keypress)="validateNumber($event)">
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{rowData.weight_cost}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td [style]="{'font-size': '13px'}">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input pInputText size="3" type="text" name="distance_input" [(ngModel)]="rowData.distance_cost" (keypress)="validateNumber($event)">
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{rowData.distance_cost}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td [style]="{'font-size': '13px'}">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input pInputText size="3" type="text" name="worktime_input" [(ngModel)]="rowData.worktime_cost" (keypress)="validateNumber($event)">
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{rowData.worktime_cost}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td [style]="{'font-size': '13px'}">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input pInputText size="3" type="text" name="averageconsumption_input" [(ngModel)]="rowData.average_consumption_cost" (keypress)="validateNumber($event)">
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{rowData.average_consumption_cost}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td style="text-align:center">
                    <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                    class="p-button-info" (click)="onRowEditInit(rowData)" style="height:30px;width:30px;"></button>
                    <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                    class="p-button-success" style="height:30px;width:30px;" (click)="onRowEditSave(rowData)"></button>
                    &nbsp;
                    <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                    class="p-button-danger" style="height:30px;width:30px;" (click)="onRowEditCancel(rowData, ri)"></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-12" layout-align="center center" [style]="{'background-color':'aliceblue'}">
   <!--  <div class="update ml-auto mr-auto"> -->
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="submit" style="height:50px;width:150px;" [disabled]="statusEditNew_btn" (click)="prepareUpdate(f)" class="btn btn-primary btn-round">Save</button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="submit" style="height:50px;width:150px;" (click)="prepareDelete(f)" class="btn btn-primary btn-round">Delete</button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="submit" style="height:50px;width:150px;" (click)="functionRedirectToCategories(f)" class="btn btn-primary btn-round">Cancelar</button>
   <!--  </div> -->
  </div>

</form>
      </div>
    </div>
  </div>
</div>
