<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">
          Currency - New&Edit
        </h3>
        <!-- <form id="add-form" (ngSubmit)="f.form.valid && saveEditLocation(f)" #f="ngForm" novalidate>-->
        <form name="form1" id="form1" #f="ngForm" novalidate>
          <div class="row">
            <div div class="col-md-6">
              <div class="card card-plain">
                <div class="card-body">

                  <!-- FIELD - CURRENCY-NAME -->
                  <div class="row">
                    <div class="col-md-10 pr-1">
                      <div class="form-group">
                        <label [ngStyle]="{'color': 'black', 'font-size': '13px', 'font-weight': 'bold'}">Name</label>
                        <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                        <input name="currencyname" id="currencyname" type="text" class="form-control" [(ngModel)]="nameCurrency" minlength="3" maxlength="10"/>
                      </div>
                    </div>
                  </div>

                  <!-- FIELD - SYMBOL -->
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label [ngStyle]="{'color': 'black', 'font-size': '13px', 'font-weight': 'bold'}">Symbol</label>
                        <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                        <input name="symbolcurrency" id="symbolcurrency" type="text" class="form-control" [(ngModel)]="symbolCurrency" minlength="2" maxlength="5"/>
                      </div>
                    </div>
                  </div>

                  <!-- FIELD - COUNTRY -->
                  <div class="row">
                    <div class="col-md-9 px-3">
                      <div class="form-group">
                        <label [ngStyle]="{'color': 'black', 'font-size': '13px', 'font-weight': 'bold'}">Country</label>
                        <label [ngStyle]="{'color': 'red', 'font-size': '13px'}">&nbsp;*</label>
                        <select class="form-control" name="country_select" [(ngModel)]="countryNew_Obj">
                          <option [ngValue]="item" *ngFor="let item of locations">{{item.countryName}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3 px-0 text-left">
                      <br>
                      <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="functionRedirectToLocation()">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="addCountry()">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>

                    <!-- Table Edit Change-->
                    <div class="col-md-9 px-3">
                      <div class="form-group">
                        <label>Selected to Register</label>
                        <table class="table table-bordered table-responsive-md table-striped text-center" [ngStyle]="{'background-color': 'mintcream', 'color': 'black', 'font-size': '13px'}">
                          <tr [ngStyle]="{'background-color': 'mintcream', 'color': 'darkcyan', 'font-size': '13px', 'font-weight': 'bold'}">
                            <th class="text-center">Country Name</th>
                            <th class="text-center">Action</th>
                          </tr>
                          <tr *ngFor="let loc of countryCurrency; let id = index">
                            <td>
                              {{loc}}
                            </td>
                            <td>
                              <span class="table-remove">
                                <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="removeCountry(loc)">
                                  <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                              </span>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12" layout-align="center center" [style]="{'background-color':'aliceblue'}">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" style="height:50px;width:150px;" (click)="validateSave(f)" class="btn btn-primary btn-round">Save</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" style="height:50px;width:150px;" [disabled]="isDisabled"  (click)="delete(f)" class="btn btn-primary btn-round">Delete</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" style="height:50px;width:150px;" (click)="functionRedirectToView(f)" class="btn btn-primary btn-round">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Currency List</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>Currency</th>
              <th>Symbol</th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr *ngFor="let currency of currencies; let i = index" (click)="select($event, currency)">
                <td>{{currency.name}}</td>
                <td>{{currency.symbol}}</td>
                <td style="text-align:center">

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
